.item_header
  .col-sm-9
    .item_header__title= @item.title
    .item_header__tags= @item.tag_list
    %ul.item_header__info.list-unstyled.list-inline
      %li= "#{@item.user.name}が"
      %li= "#{@item.created_at} に投稿"

  .col-sm-3
    %ul.list-inline.row
      %li.col-sm-6.item_header__summary.separator
        .item_header__summary_count= "#{0}"
        .r ストック
      %li.col-sm-6.item_header__summary
        .item_header__summary_count= "#{0}"
        .r コメント
    .col-sm
      = link_to '#', remote: true, class:"btn btn-block btn-default item_header__stock" do
        %i.glyphicon.glyphicon-folder-close
        %span ストック

.row
  .col-sm-9
    .main_content= markdown(@item.content)
  .col-sm-3