.col-sm-12
  = simple_form_for @draft, url: @url do |f|
    = f.input :title, placeholder: 'タイトル', label: false, autofocus: true
    .form-group
      = text_field_tag 'item[tag_list]', @draft.tag_list.join(','), { class: "form-control", data: { role: "tagsinput" } }
    .row.col-sm-12
      = f.input :content, placeholder: '本文', label: false, input_html: { rows: 20 }, wrapper_html: { class: "col-sm-6" }
      #markdown-preview.preview-content.col-sm-6
        = markdown(@draft.content)
    .row.col-sm-12
      = f.button :submit, class: "btn btn-success"
      = f.button :submit, '公開する', name: 'publish', class: "btn btn-primary pull-right"
